venv/
.venv/
__pycache__/
*.pyc

.env
*.json
service_account*.json
credentials*.json

outputs/*
!outputs/.gitkeep

*.nc
*.parquet
*.rds
*.tmp
*.log

.ipynb_checkpoints/
# Permitir cache SONICS para backend automático
!backend/cache/
!backend/cache/.gitkeep
!backend/cache/hist_filtrado.parquet
!backend/cache/fore_filtrado.parquet
!backend/cache/observado_estaciones.parquet
!backend/cache/observado_estaciones.csv
