numpy
pandas
xarray
h5netcdf
scipy
pyarrow
pyreadr
geopandas
fiona
shapely
google-api-python-client
google-auth
google-auth-httplib2
python-dotenv
requests
openpyxl
streamlit
plotly
